*{
	margin: 0;
	padding: 0;
}

body{
	background-image: url(../images/colores.jpg);
	width: 100vw;
	height: 120vh;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

header{
	width: 100%;
	padding: 1% 1%;
	text-align: center;
	margin: 1%;
}

h1{
	color: #d9d9d9;
	font: 700% "didot";
}

p{
	color: #d9d9d9;
	font: 110% "perpetua";
}

h2{
	text-align: center;
}


#formulario{
	width: 15%;
	height: auto;
	position: relative;
	text-align: center;
	background-color: #FFFFFF;
	opacity: 0.8;
	margin: 2% 50% 30% 40%;
	padding: 4%;
	border-radius: 20px;
}


label, input, button{
	margin: 10% 10% 2% 10%;
}

input {
  border: none;
  border-bottom: 2px solid black;
}

footer{
	display: block;
}
a{
	margin-top: 100px;
	text-decoration: none;
	color: #000000;
}

